<a href="https://colab.research.google.com/github/lanreayk/Data-Analytics_ML_portfolio/blob/main/autodirty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#file location/path
path='/content/drive/MyDrive/autos_dirty2.csv'

In [ ]:
pip install pyforest

Collecting pyforest
  Downloading pyforest-1.1.0.tar.gz (15 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py) ... done
  Created wheel for pyforest: filename=pyforest-1.1.0-py2.py3-none-any.whl size=14605 sha256=c02cc12c5ce7da6513c1fc0b756ad11668529f2e67d552d868266190c19af382
  Stored in directory: /root/.cache/pip/wheels/9e/7d/2c/5d2f5e62de376c386fd3bf5a8e5bd119ace6a9f48f49df6017
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-1.1.0

In [ ]:
import pyforest

In [ ]:
df=pd.read_csv(path)

<ipython-input-6-ef84a602a1d6>:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(path)

In [ ]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,3/24/2016 0:00,0.0,70435.0,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371556,3/21/2016 23:40,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,20400.0,test,limousine,2014.0,automatik,150.0,golf,30000,9.0,benzin,volkswagen,nein,3/21/2016 0:00,0.0,38470.0,4/7/2016 4:17
371557,3/26/2016 18:36,Chrysler_Voyager,privat,Angebot,3900.0,test,bus,2003.0,automatik,174.0,voyager,150000,7.0,benzin,chrysler,nein,3/26/2016 0:00,0.0,34320.0,4/6/2016 9:16
371558,4/1/2016 12:59,Audi_A4_Avant_1.8,privat,Angebot,1600.0,test,kombi,1998.0,manuell,125.0,a4,150000,2.0,benzin,audi,nein,4/1/2016 0:00,0.0,34414.0,4/7/2016 9:44
371559,4/1/2016 1:55,Subaru_Justy_1.3,privat,Angebot,1700.0,control,kleinwagen,1999.0,manuell,68.0,justy,70000,11.0,benzin,subaru,nein,3/31/2016 0:00,0.0,90439.0,4/7/2016 4:16
371560,3/7/2016 17:06,220_cdi_Benz,privat,Angebot,2600.0,control,NaN,2005.0,automatik,0.0,c_klasse,150000,9.0,NaN,mercedes_benz,NaN,3/7/2016 0:00,0.0,61169.0,3/8/2016 21:28

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371561 entries, 0 to 371560
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371560 non-null  object
 1   name                 371560 non-null  object
 2   seller               371559 non-null  object
 3   offerType            371559 non-null  object
 4   price                371559 non-null  float64
 5   abtest               371559 non-null  object
 6   vehicleType          333687 non-null  object
 7   yearOfRegistration   371558 non-null  float64
 8   gearbox              351348 non-null  object
 9   powerPS              371559 non-null  float64
 10  model                351074 non-null  object
 11  kilometer            371559 non-null  object
 12  monthOfRegistration  371558 non-null  float64
 13  fuelType             338168 non-null  object
 14  brand                371558 non-null  object
 15  notRepairedDamage    299490 non-null  object
 16  dateCreated          371558 non-null  object
 17  nrOfPictures         371558 non-null  float64
 18  postalCode           371558 non-null  float64
 19  lastSeen             371558 non-null  object
dtypes: float64(6), object(14)
memory usage: 56.7+ MB

Issues with data

1. Missing Values
2. Duplicates
3. Mis-labeles and improper data types
4. Outliers
5. Skewness
6 Categorical variable encoding (Norminal and Ordinal Categorical data)

In [ ]:
#check each column for missing values
df['dateCrawled'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 371561 entries, 0 to 371560
Series name: dateCrawled
Non-Null Count   Dtype
--------------   -----
371560 non-null  object
dtypes: object(1)
memory usage: 2.8+ MB

In [ ]:
#checking for missing value in "dateCrawled"
df['dateCrawled'].isna().sum()

1

In [ ]:
df1=df.dropna(subset=['dateCrawled'])

In [ ]:
df1['dateCrawled'].isna().sum()

0

In [ ]:
df['dateCrawled'].unique()

array(['3/24/2016 11:52', '3/24/2016 10:58', '3/14/2016 12:52', ...,
       '3/27/2016 12:42', '3/8/2016 0:49', '3/6/2016 21:11'], dtype=object)

In [ ]:
#checking for missing value in "name"
df['name'].isna().sum()

1

In [ ]:
df1=df.dropna(subset=['name'])

In [ ]:
df1['name'].isna().sum()

0

In [ ]:
#checking for missing value in all columns
df1.isnull().sum()

dateCrawled                0
name                       0
seller                     1
offerType                  1
price                      1
abtest                     1
vehicleType            37873
yearOfRegistration         2
gearbox                20212
powerPS                    1
model                  20486
kilometer                  1
monthOfRegistration        2
fuelType               33392
brand                      2
notRepairedDamage      72070
dateCreated                2
nrOfPictures               2
postalCode                 2
lastSeen                   2
dtype: int64

In [ ]:
#checking for missing value in "seller"
df1['seller'].unique()

array(['privat', 'gewerblich', nan, 'golf'], dtype=object)

In [ ]:
df1=df1.dropna(subset=['seller'])

In [ ]:
df1.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37872
yearOfRegistration         1
gearbox                20211
powerPS                    0
model                  20485
kilometer                  0
monthOfRegistration        1
fuelType               33391
brand                      1
notRepairedDamage      72069
dateCreated                1
nrOfPictures               1
postalCode                 1
lastSeen                   1
dtype: int64

In [ ]:
df1['vehicleType'].unique()

array([nan, 'coupe', 'suv', 'kleinwagen', 'limousine', 'cabrio', 'bus',
       'kombi', 'andere', 'volkswagen'], dtype=object)

In [ ]:
#correcting for missing data in yearOfRegistration
df1=df1.dropna(subset=['yearOfRegistration'])

In [ ]:
df1.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37872
yearOfRegistration         0
gearbox                20211
powerPS                    0
model                  20485
kilometer                  0
monthOfRegistration        0
fuelType               33390
brand                      0
notRepairedDamage      72068
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [ ]:
#gearbox
df1['gearbox']=df1['gearbox'].fillna(method='pad')

In [ ]:
df1

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/24/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,3/24/2016 0:00,0.0,70435.0,4/7/2016 3:16
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371556,3/21/2016 23:40,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,20400.0,test,limousine,2014.0,automatik,150.0,golf,30000,9.0,benzin,volkswagen,nein,3/21/2016 0:00,0.0,38470.0,4/7/2016 4:17
371557,3/26/2016 18:36,Chrysler_Voyager,privat,Angebot,3900.0,test,bus,2003.0,automatik,174.0,voyager,150000,7.0,benzin,chrysler,nein,3/26/2016 0:00,0.0,34320.0,4/6/2016 9:16
371558,4/1/2016 12:59,Audi_A4_Avant_1.8,privat,Angebot,1600.0,test,kombi,1998.0,manuell,125.0,a4,150000,2.0,benzin,audi,nein,4/1/2016 0:00,0.0,34414.0,4/7/2016 9:44
371559,4/1/2016 1:55,Subaru_Justy_1.3,privat,Angebot,1700.0,control,kleinwagen,1999.0,manuell,68.0,justy,70000,11.0,benzin,subaru,nein,3/31/2016 0:00,0.0,90439.0,4/7/2016 4:16
371560,3/7/2016 17:06,220_cdi_Benz,privat,Angebot,2600.0,control,NaN,2005.0,automatik,0.0,c_klasse,150000,9.0,NaN,mercedes_benz,NaN,3/7/2016 0:00,0.0,61169.0,3/8/2016 21:28

In [ ]:
df2=df1

In [ ]:
#model
df2['model']=df2['model'].fillna(method='pad')

In [ ]:
df2['model'].isna().sum()

0

In [ ]:
df2['model'].unique()

array(['golf', 'grand', 'fabia', '3er', '2_reihe', 'andere', 'c_max',
       '3_reihe', 'passat', 'navara', 'ka', 'polo', 'twingo', 'a_klasse',
       'scirocco', '5er', 'meriva', 'arosa', 'c4', 'civic', 'transporter',
       'punto', 'e_klasse', 'clio', 'kadett', 'kangoo', 'corsa', 'one',
       'fortwo', '1er', 'b_klasse', 'signum', 'astra', 'a8', 'jetta',
       'fiesta', 'c_klasse', 'micra', 'vito', 'sprinter', '156', 'escort',
       'forester', 'xc_reihe', 'scenic', 'a4', 'a1', 'insignia', 'combo',
       'focus', 'tt', 'a6', 'jazz', 'omega', 'slk', '7er', '80', '147',
       'glk', '100', 'z_reihe', 'sportage', 'sorento', 'v40', 'ibiza',
       'mustang', 'eos', 'touran', 'getz', 'a3', 'almera', 'megane',
       'lupo', 'r19', 'zafira', 'caddy', 'mondeo', 'cordoba', 'colt',
       'impreza', 'vectra', 'berlingo', 'm_klasse', 'tiguan', 'i_reihe',
       'espace', 'sharan', '6_reihe', 'panda', 'up', 'seicento', 'ceed',
       '5_reihe', 'yeti', 'octavia', 'mii', 'rx_reihe', '6er', 'modus',
       'fox', 'matiz', 'beetle', 'c1', 'rio', 'touareg', 'logan',
       'spider', 'cuore', 's_max', 'a2', 'x_reihe', 'a5', 'galaxy', 'c3',
       'viano', 's_klasse', '1_reihe', 'avensis', 'sl', 'roomster', 'q5',
       'kaefer', 'santa', 'cooper', 'leon', '4_reihe', '500', 'laguna',
       'ptcruiser', 'clk', 'primera', 'exeo', '159', 'transit', 'juke',
       'qashqai', 'carisma', 'accord', 'corolla', 'lanos', 'phaeton',
       'boxster', 'verso', 'swift', 'rav', 'kuga', 'picanto', 'kalos',
       'superb', 'stilo', 'alhambra', '911', 'mx_reihe', 'm_reihe',
       'roadster', 'ypsilon', 'cayenne', 'galant', 'justy', '90',
       'sirion', 'crossfire', 'agila', 'duster', 'cr_reihe', 'v50',
       'discovery', 'c_reihe', 'v_klasse', 'yaris', 'c5', 'aygo', 'cc',
       'carnival', 'fusion', 'bora', 'forfour', 'cl', 'tigra', '300c',
       'q3', 'spark', 'v70', 'x_type', 'ducato', 's_type', 'x_trail',
       'toledo', 'altea', 'voyager', 'calibra', 'bravo', 'range_rover',
       'antara', 'tucson', 'q7', 'citigo', 'jimny', 'cx_reihe',
       'wrangler', 'lybra', 'range_rover_sport', 'lancer', 'freelander',
       'captiva', 'c2', 'range_rover_evoque', 'sandero', 'note', '900',
       'defender', 'cherokee', 'clubman', 'samara', '601', 'legacy',
       'pajero', 'auris', 'niva', 's60', 'nubira', 'vivaro', 'g_klasse',
       'lodgy', '850', 'serie_2', 'charade', 'croma', 'outlander', 'gl',
       'doblo', 'musa', 'amarok', 'move', '9000', 'v60', '145', 'aveo',
       '200', 'b_max', 'delta', 'terios', 'rangerover', 'materia',
       'kalina', 'elefantino', 'i3', 'kappa', 'serie_3', 'serie_1',
       'discovery_sport'], dtype=object)

In [ ]:
# Remove rows where the entire content is a number
df2['model']= df2['model'][~pd.to_numeric(df2['model'], errors='coerce').notna()]

In [ ]:
df2['model'].unique()

array(['golf', 'grand', 'fabia', '3er', '2_reihe', 'andere', 'c_max',
       '3_reihe', 'passat', 'navara', 'ka', 'polo', 'twingo', 'a_klasse',
       'scirocco', '5er', 'meriva', 'arosa', 'c4', 'civic', 'transporter',
       'punto', 'e_klasse', 'clio', 'kadett', 'kangoo', 'corsa', 'one',
       'fortwo', '1er', 'b_klasse', 'signum', 'astra', 'a8', 'jetta',
       'fiesta', 'c_klasse', 'micra', 'vito', 'sprinter', nan, 'escort',
       'forester', 'xc_reihe', 'scenic', 'a4', 'a1', 'insignia', 'combo',
       'focus', 'tt', 'a6', 'jazz', 'omega', 'slk', '7er', 'glk',
       'z_reihe', 'sportage', 'sorento', 'v40', 'ibiza', 'mustang', 'eos',
       'touran', 'getz', 'a3', 'almera', 'megane', 'lupo', 'r19',
       'zafira', 'caddy', 'mondeo', 'cordoba', 'colt', 'impreza',
       'vectra', 'berlingo', 'm_klasse', 'tiguan', 'i_reihe', 'espace',
       'sharan', '6_reihe', 'panda', 'up', 'seicento', 'ceed', '5_reihe',
       'yeti', 'octavia', 'mii', 'rx_reihe', '6er', 'modus', 'fox',
       'matiz', 'beetle', 'c1', 'rio', 'touareg', 'logan', 'spider',
       'cuore', 's_max', 'a2', 'x_reihe', 'a5', 'galaxy', 'c3', 'viano',
       's_klasse', '1_reihe', 'avensis', 'sl', 'roomster', 'q5', 'kaefer',
       'santa', 'cooper', 'leon', '4_reihe', 'laguna', 'ptcruiser', 'clk',
       'primera', 'exeo', 'transit', 'juke', 'qashqai', 'carisma',
       'accord', 'corolla', 'lanos', 'phaeton', 'boxster', 'verso',
       'swift', 'rav', 'kuga', 'picanto', 'kalos', 'superb', 'stilo',
       'alhambra', 'mx_reihe', 'm_reihe', 'roadster', 'ypsilon',
       'cayenne', 'galant', 'justy', 'sirion', 'crossfire', 'agila',
       'duster', 'cr_reihe', 'v50', 'discovery', 'c_reihe', 'v_klasse',
       'yaris', 'c5', 'aygo', 'cc', 'carnival', 'fusion', 'bora',
       'forfour', 'cl', 'tigra', '300c', 'q3', 'spark', 'v70', 'x_type',
       'ducato', 's_type', 'x_trail', 'toledo', 'altea', 'voyager',
       'calibra', 'bravo', 'range_rover', 'antara', 'tucson', 'q7',
       'citigo', 'jimny', 'cx_reihe', 'wrangler', 'lybra',
       'range_rover_sport', 'lancer', 'freelander', 'captiva', 'c2',
       'range_rover_evoque', 'sandero', 'note', 'defender', 'cherokee',
       'clubman', 'samara', 'legacy', 'pajero', 'auris', 'niva', 's60',
       'nubira', 'vivaro', 'g_klasse', 'lodgy', 'serie_2', 'charade',
       'croma', 'outlander', 'gl', 'doblo', 'musa', 'amarok', 'move',
       'v60', 'aveo', 'b_max', 'delta', 'terios', 'rangerover', 'materia',
       'kalina', 'elefantino', 'i3', 'kappa', 'serie_3', 'serie_1',
       'discovery_sport'], dtype=object)

In [ ]:
df2=df2.dropna(subset=['model'])

In [ ]:
df2.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37184
yearOfRegistration         0
gearbox                    0
powerPS                    0
model                      0
kilometer                  0
monthOfRegistration        0
fuelType               32617
brand                      0
notRepairedDamage      70580
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [ ]:
df2['fuelType']=df2['fuelType'].fillna(method='pad')

<ipython-input-36-57f032be94cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fuelType']=df2['fuelType'].fillna(method='pad')

df3['model'].unique()
array([  nan,  156.,   80.,  147.,  100.,  500.,  159.,  911.,   90.,
        900.,  601.,  850., 9000.,  145.,  200.])

In [ ]:
df2.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37184
yearOfRegistration         0
gearbox                    0
powerPS                    0
model                      0
kilometer                  0
monthOfRegistration        0
fuelType                   0
brand                      0
notRepairedDamage      70580
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [ ]:
df2['notRepairedDamage']=df2['notRepairedDamage'].fillna(method='pad')

<ipython-input-38-11c6f79ff0a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['notRepairedDamage']=df2['notRepairedDamage'].fillna(method='pad')

In [ ]:
df2['vehicleType']=df2['vehicleType'].fillna(method='bfill')

<ipython-input-39-955e303fbdfd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['vehicleType']=df2['vehicleType'].fillna(method='bfill')

In [ ]:
df2.isnull().sum()

dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            1
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      1
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [ ]:
df2=df2.dropna(subset=['vehicleType'])
df2=df2.dropna(subset=['notRepairedDamage'])

In [ ]:
df2.isnull().sum()

dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364927 entries, 1 to 371559
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          364927 non-null  object
 1   name                 364927 non-null  object
 2   seller               364927 non-null  object
 3   offerType            364927 non-null  object
 4   price                364927 non-null  float64
 5   abtest               364927 non-null  object
 6   vehicleType          364927 non-null  object
 7   yearOfRegistration   364927 non-null  float64
 8   gearbox              364927 non-null  object
 9   powerPS              364927 non-null  float64
 10  model                364927 non-null  object
 11  kilometer            364927 non-null  object
 12  monthOfRegistration  364927 non-null  float64
 13  fuelType             364927 non-null  object
 14  brand                364927 non-null  object
 15  notRepairedDamage    364927 non-null  object
 16  dateCreated          364927 non-null  object
 17  nrOfPictures         364927 non-null  float64
 18  postalCode           364927 non-null  float64
 19  lastSeen             364927 non-null  object
dtypes: float64(6), object(14)
memory usage: 58.5+ MB

In [ ]:
df2['kilometer'].unique()

array([125000, 150000, 90000, 40000, 30000, 70000, 5000, 100000, 60000,
       20000, 80000, 50000, 10000, '150000', '125000', '30000', '5000',
       '20000', '40000', '100000', '90000', '50000', '70000', '60000',
       '80000', '10000'], dtype=object)

In [ ]:
df2

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,golf,125000,5.0,diesel,audi,ja,3/24/2016 0:00,0.0,66954.0,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,ja,3/14/2016 0:00,0.0,90480.0,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,3/17/2016 0:00,0.0,91074.0,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,3/31/2016 0:00,0.0,60437.0,4/6/2016 10:17
5,4/4/2016 17:36,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650.0,test,limousine,1995.0,manuell,102.0,3er,150000,10.0,benzin,bmw,ja,4/4/2016 0:00,0.0,33775.0,4/6/2016 19:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371555,3/8/2016 13:52,OPEL_CORSA_B__ECO_SWING__TÜV_1/17_8fach_Bereif...,privat,Angebot,600.0,control,kleinwagen,1998.0,manuell,54.0,corsa,150000,1.0,benzin,opel,nein,3/8/2016 0:00,0.0,24850.0,3/13/2016 0:16
371556,3/21/2016 23:40,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,20400.0,test,limousine,2014.0,automatik,150.0,golf,30000,9.0,benzin,volkswagen,nein,3/21/2016 0:00,0.0,38470.0,4/7/2016 4:17
371557,3/26/2016 18:36,Chrysler_Voyager,privat,Angebot,3900.0,test,bus,2003.0,automatik,174.0,voyager,150000,7.0,benzin,chrysler,nein,3/26/2016 0:00,0.0,34320.0,4/6/2016 9:16
371558,4/1/2016 12:59,Audi_A4_Avant_1.8,privat,Angebot,1600.0,test,kombi,1998.0,manuell,125.0,a4,150000,2.0,benzin,audi,nein,4/1/2016 0:00,0.0,34414.0,4/7/2016 9:44
371559,4/1/2016 1:55,Subaru_Justy_1.3,privat,Angebot,1700.0,control,kleinwagen,1999.0,manuell,68.0,justy,70000,11.0,benzin,subaru,nein,3/31/2016 0:00,0.0,90439.0,4/7/2016 4:16

In [ ]:
#extract categorical features
#split data into numerical and categorical data and separate them
continuous_vars=df2.select_dtypes('float64').columns
print(continuous_vars)
categorical_vars=df2.select_dtypes('object').columns
print(categorical_vars)

Index(['price', 'yearOfRegistration', 'powerPS', 'monthOfRegistration',
       'nrOfPictures', 'postalCode'],
      dtype='object')
Index(['dateCrawled', 'name', 'seller', 'offerType', 'abtest', 'vehicleType',
       'gearbox', 'model', 'kilometer', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'lastSeen'],
      dtype='object')

In [ ]:
df_cats=df2[categorical_vars]
df_cats

,dateCrawled,name,seller,offerType,abtest,vehicleType,gearbox,model,kilometer,fuelType,brand,notRepairedDamage,dateCreated,lastSeen
1,3/24/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,test,coupe,manuell,golf,125000,diesel,audi,ja,3/24/2016 0:00,4/7/2016 1:46
2,3/14/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,test,suv,automatik,grand,125000,diesel,jeep,ja,3/14/2016 0:00,4/5/2016 12:47
3,3/17/2016 16:54,GOLF_4_1_4__3TÜRER,privat,Angebot,test,kleinwagen,manuell,golf,150000,benzin,volkswagen,nein,3/17/2016 0:00,3/17/2016 17:40
4,3/31/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,test,kleinwagen,manuell,fabia,90000,diesel,skoda,nein,3/31/2016 0:00,4/6/2016 10:17
5,4/4/2016 17:36,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,test,limousine,manuell,3er,150000,benzin,bmw,ja,4/4/2016 0:00,4/6/2016 19:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371555,3/8/2016 13:52,OPEL_CORSA_B__ECO_SWING__TÜV_1/17_8fach_Bereif...,privat,Angebot,control,kleinwagen,manuell,corsa,150000,benzin,opel,nein,3/8/2016 0:00,3/13/2016 0:16
371556,3/21/2016 23:40,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,test,limousine,automatik,golf,30000,benzin,volkswagen,nein,3/21/2016 0:00,4/7/2016 4:17
371557,3/26/2016 18:36,Chrysler_Voyager,privat,Angebot,test,bus,automatik,voyager,150000,benzin,chrysler,nein,3/26/2016 0:00,4/6/2016 9:16
371558,4/1/2016 12:59,Audi_A4_Avant_1.8,privat,Angebot,test,kombi,manuell,a4,150000,benzin,audi,nein,4/1/2016 0:00,4/7/2016 9:44
371559,4/1/2016 1:55,Subaru_Justy_1.3,privat,Angebot,control,kleinwagen,manuell,justy,70000,benzin,subaru,nein,3/31/2016 0:00,4/7/2016 4:16

In [ ]:
norm_cats=df_cats[['seller', 'offerType', 'abtest', 'vehicleType',
       'gearbox', 'model', 'kilometer', 'fuelType', 'brand',
       'notRepairedDamage']]

In [ ]:
norm_cats

,seller,offerType,abtest,vehicleType,gearbox,model,kilometer,fuelType,brand,notRepairedDamage
1,privat,Angebot,test,coupe,manuell,golf,125000,diesel,audi,ja
2,privat,Angebot,test,suv,automatik,grand,125000,diesel,jeep,ja
3,privat,Angebot,test,kleinwagen,manuell,golf,150000,benzin,volkswagen,nein
4,privat,Angebot,test,kleinwagen,manuell,fabia,90000,diesel,skoda,nein
5,privat,Angebot,test,limousine,manuell,3er,150000,benzin,bmw,ja
...,...,...,...,...,...,...,...,...,...,...
371555,privat,Angebot,control,kleinwagen,manuell,corsa,150000,benzin,opel,nein
371556,privat,Angebot,test,limousine,automatik,golf,30000,benzin,volkswagen,nein
371557,privat,Angebot,test,bus,automatik,voyager,150000,benzin,chrysler,nein
371558,privat,Angebot,test,kombi,manuell,a4,150000,benzin,audi,nein
371559,privat,Angebot,control,kleinwagen,manuell,justy,70000,benzin,subaru,nein

In [ ]:
df_dummies=pd.get_dummies(norm_cats)
df_dummies

,seller_gewerblich,seller_privat,offerType_Angebot,offerType_Gesuch,abtest_control,abtest_test,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,...,brand_smart,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein
1,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371555,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
371556,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
371557,0,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
371558,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
371559,0,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [ ]:
df2['dateCrawled'] = pd.to_datetime(df2['dateCrawled'])
df2['dateCrawled']

1        2016-03-24 10:58:00
2        2016-03-14 12:52:00
3        2016-03-17 16:54:00
4        2016-03-31 17:25:00
5        2016-04-04 17:36:00
                 ...
371555   2016-03-08 13:52:00
371556   2016-03-21 23:40:00
371557   2016-03-26 18:36:00
371558   2016-04-01 12:59:00
371559   2016-04-01 01:55:00
Name: dateCrawled, Length: 364927, dtype: datetime64[ns]

In [ ]:
# Convert datetime to float (Unix timestamp)
df2['float_dateCrawled'] = df2['dateCrawled'].apply(lambda x: x.timestamp())

In [ ]:
df2['float_dateCrawled']

1         1.458817e+09
2         1.457960e+09
3         1.458234e+09
4         1.459445e+09
5         1.459791e+09
              ...
371555    1.457445e+09
371556    1.458604e+09
371557    1.459017e+09
371558    1.459516e+09
371559    1.459476e+09
Name: float_dateCrawled, Length: 364927, dtype: float64

In [ ]:
#last seen convert to float
df2['lastSeen'] = pd.to_datetime(df2['lastSeen'])
# Convert datetime to float (Unix timestamp)
df2['float_lastSeen'] = df2['lastSeen'].apply(lambda x: x.timestamp())
df2['float_lastSeen']

1         1.459994e+09
2         1.459860e+09
3         1.458236e+09
4         1.459938e+09
5         1.459970e+09
              ...
371555    1.457828e+09
371556    1.460003e+09
371557    1.459934e+09
371558    1.460022e+09
371559    1.460003e+09
Name: float_lastSeen, Length: 364927, dtype: float64

In [ ]:
continuous_vars=df2.select_dtypes('float64').columns
print(continuous_vars)

Index(['price', 'yearOfRegistration', 'powerPS', 'monthOfRegistration',
       'nrOfPictures', 'postalCode', 'float_dateCrawled', 'float_lastSeen'],
      dtype='object')

In [ ]:
#columns removed are "name","date created"

In [ ]:
#combining the data
rest_num=df2[continuous_vars]
rest_num

,price,yearOfRegistration,powerPS,monthOfRegistration,nrOfPictures,postalCode,float_dateCrawled,float_lastSeen
1,18300.0,2011.0,190.0,5.0,0.0,66954.0,1.458817e+09,1.459994e+09
2,9800.0,2004.0,163.0,8.0,0.0,90480.0,1.457960e+09,1.459860e+09
3,1500.0,2001.0,75.0,6.0,0.0,91074.0,1.458234e+09,1.458236e+09
4,3600.0,2008.0,69.0,7.0,0.0,60437.0,1.459445e+09,1.459938e+09
5,650.0,1995.0,102.0,10.0,0.0,33775.0,1.459791e+09,1.459970e+09
...,...,...,...,...,...,...,...,...
371555,600.0,1998.0,54.0,1.0,0.0,24850.0,1.457445e+09,1.457828e+09
371556,20400.0,2014.0,150.0,9.0,0.0,38470.0,1.458604e+09,1.460003e+09
371557,3900.0,2003.0,174.0,7.0,0.0,34320.0,1.459017e+09,1.459934e+09
371558,1600.0,1998.0,125.0,2.0,0.0,34414.0,1.459516e+09,1.460022e+09
371559,1700.0,1999.0,68.0,11.0,0.0,90439.0,1.459476e+09,1.460003e+09

# Data now ready for ML exploration

In [ ]:
full_df=pd.concat([rest_num,df_dummies], axis=1)
full_df

,price,yearOfRegistration,powerPS,monthOfRegistration,nrOfPictures,postalCode,float_dateCrawled,float_lastSeen,seller_gewerblich,seller_privat,...,brand_smart,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein
1,18300.0,2011.0,190.0,5.0,0.0,66954.0,1.458817e+09,1.459994e+09,0,1,...,0,0,0,0,0,0,0,0,1,0
2,9800.0,2004.0,163.0,8.0,0.0,90480.0,1.457960e+09,1.459860e+09,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1500.0,2001.0,75.0,6.0,0.0,91074.0,1.458234e+09,1.458236e+09,0,1,...,0,0,0,0,0,0,1,0,0,1
4,3600.0,2008.0,69.0,7.0,0.0,60437.0,1.459445e+09,1.459938e+09,0,1,...,0,0,0,0,0,0,0,0,0,1
5,650.0,1995.0,102.0,10.0,0.0,33775.0,1.459791e+09,1.459970e+09,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371555,600.0,1998.0,54.0,1.0,0.0,24850.0,1.457445e+09,1.457828e+09,0,1,...,0,0,0,0,0,0,0,0,0,1
371556,20400.0,2014.0,150.0,9.0,0.0,38470.0,1.458604e+09,1.460003e+09,0,1,...,0,0,0,0,0,0,1,0,0,1
371557,3900.0,2003.0,174.0,7.0,0.0,34320.0,1.459017e+09,1.459934e+09,0,1,...,0,0,0,0,0,0,0,0,0,1
371558,1600.0,1998.0,125.0,2.0,0.0,34414.0,1.459516e+09,1.460022e+09,0,1,...,0,0,0,0,0,0,0,0,0,1
371559,1700.0,1999.0,68.0,11.0,0.0,90439.0,1.459476e+09,1.460003e+09,0,1,...,0,0,1,0,0,0,0,0,0,1